{% extends 'base_account.html' %}
{% load bootstrap4 %}

{% block title %}
     Genesis Book Store - PassReset
{% endblock %}

{% block account_content %}
       <div class="container">
           <h2>Forgotten Your Password?</h2>
           <div class="mt-3">
               <form method="post">
                   {% csrf_token %}
                   {% bootstrap_form form %}
                   <input type="submit" value=" &nbsp;&nbsp;&nbsp;Send Email&nbsp;&nbsp;&nbsp; ">
               </form>
           </div>
       </div>
{% endblock %}