{% extends 'base_account.html' %}
{% load bootstrap4 %}


{% block inline-style %}
    <style>
     form {
       width: 70%;
    }
    @media screen and (max-width: 568px) {
      form {
       width: 100%;
    }
     }
    </style>
 {% endblock %}


{% block title %}
  Genesis Book Store - Confrim Password Reset
{% endblock %}




{% block account_content %}
   <h1 class="container">Reset your password</h1>
   <div class="container ">
       {% if validlink %}
         <p>Please enter your new password twice :</p>
         <form method="post">
             {% csrf_token %}
             {% bootstrap_form form %}
             <p>
                 <input type="submit" class="btn btn-warning" value="Change my password">
             </p>
         </form>
       {% else %}
       <p>The password reset link was invalid, possibly because it has
already been used. Please request a new password reset. <a href="{% url 'account:password_reset'%}">Here</a></p>
       {% endif %}
   </div>
{% endblock %}