{% extends 'base_account.html' %}

{% block title %}
      Genesis Book Store - Password Reset Done
{% endblock %}

{% block account_content %}
   <div class="container">
       <h1> Reset Your password</h1>
       <p>We've emailed you instructions for setting your password.</p>
       <p>If you don't receive an email, please make sure you've entered the address you registered with <br>
       or enter your email address <a href="#" class="btn btn-light"> AGAIN </a>
       </p>
   </div>
{% endblock %}