{% extends "base_account.html" %}
{% load bootstrap4 %}

 {% block inline-style %}
    <style>
     form {
       width: 70%;
    }
    @media screen and (max-width: 568px) {
      form {
       width: 100%;
    }
     }
    </style>
 {% endblock %}



{% block title %}
   Genesis Book Store - change_password
{% endblock %}

{% block account_content %}
  <div class="mt-5">
   <h2 class="container">Change your password</h2>
   <div class="pswd_change container">
       <form method="post">
           {% csrf_token %}
           {% bootstrap_form form %}
           <input type="submit" class="btn btn-primary" value=" &nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;&nbsp;&nbsp;&nbsp;">
       </form>
   </div>
  </div>
{% endblock %}

{% block js_script %}
   <script>
       let jumbo = document.getElementsByClassName("jumbotron");
       jumbo[0].style.display = "none";
    </script>
{% endblock %}