<form action="{% url 'books:search_books' %}" method="get">
                        <select name="category">
           <option value="" >Book</option>
           <option value="Arts" >Arts and Philosophy</option>
           <option value="Biographies" >Biographies & Memories</option>
           <option value="Buisness" >Buisness & Money</option>
           <option value="Calendar" >Calendar</option>
           <option value="Children" >Children's Books</option>
           <option value="Christian">Christian Books & Bibles</option>
           <option value="Comics" >Comics & Graphic Novels</option>
           <option value="Computer" >Computer & Technology</option>
           <option value="Cookbooks" >Cookbooks, Food & Wine</option>
           <option value="History" >History</option>
           <option value="Law">Law</option>
           <option value="Literature">Literature & Fiction</option>
           <option value="Medical">Medical Books</option>
           <option value="Romance">Romance</option>
           <option value="Science">Science & Math</option>
           <option value="Sport">Sport & Outdoors</option>
           <option value="Test">Test preparation</option>
       </select>
                  <input type="input" name="query" id="search_books" placeholder="search">
                  <span class="yellow"></span>
                      </form>
</form>